.container{
  position: absolute;
  width: 550px;
  height: 868px;
  left: 300px;
  top: 53px;
  border-radius: 5px;
  
  background: #23252C;
}


.info{
  background-image: url(images/solo1.png);
  border-radius: 10px 10px 0 0;
  position: absolute;
width: 317px;
height: 317px;
left: 116px;
top: 44px;
}


.name{
  position: absolute;
width: 178.06px;
height: 25.81px;
left: 186px;
top: 355px;

font-family: 'Inter';
font-weight: 700;
font-size: 22px;
text-align: center;

color: #FFFFFF;

}

.title{
  position: absolute;
width: 178.06px;
height: 14.19px;
left: 186px;
top: 390px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11.8px;
line-height: 15px;
text-align: center;

color: #F3BF99;
}

.web{
  position: absolute;
width: 228px;
height: 16px;
left: 161px;
top: 429px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
/* identical to box height, or 15px */

text-align: center;

color: #F5F5F5;

}

.btn{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 13px 9px 11px;
gap: 8px;

position: absolute;
width: 247px;
height: 34px;
left: 151px;
top: 469px;
}